# Build directories
build/
cmake-build-*/
build-win/
assets_test/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
.AppleDouble/
valgrind.log

# C/C++ artifacts
*.o
*.a
*.so
*.dylib
*.exe
*.out
*.dSYM/
*.su

# CMake
CMakeUserPresets.json
compile_commands.json
_deps
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/

# Editor
*.swp
*.swo
*.kate-swp
.*.kate-swp

# Clang tools
.clangd
logs/
*.log

# Asset Packer / Node.js
node_modules/
tools/node_modules/
tools/package-lock.json
